<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favorite Books</title>
    <!-- CSS only -->
    {% load static %}
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/script.js' %}"></script>

    <link
      rel="apple-touch-icon"
      href="/docs/4.5/assets/img/favicons/apple-touch-icon.png"
      sizes="180x180"
    />
    <link
      rel="icon"
      href="/docs/4.5/assets/img/favicons/favicon-32x32.png"
      sizes="32x32"
      type="image/png"
    />
    <link
      rel="icon"
      href="/docs/4.5/assets/img/favicons/favicon-16x16.png"
      sizes="16x16"
      type="image/png"
    />
    <link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json" />
    <link
      rel="mask-icon"
      href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg"
      color="#563d7c"
    />
    <link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico" />

    <meta
      name="msapplication-config"
      content="/docs/4.5/assets/img/favicons/browserconfig.xml"
    />
    <meta name="theme-color" content="#563d7c" />
    <link href="pricing.css" rel="stylesheet" />
  </head>
  <body>
    <!-- navbar -->
    <div
      id="navbar"
      class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
    >
      <h5 class="my-0 mr-md-auto font-weight-normal">
        Welcome, {{this_user.first_name}}
      </h5>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/books">Main</a>
        <a class="p-2 text-dark" href="/books/add_book_and_review"
          >Add Book and Review</a
        >
        <a class="p-2 text-dark" href="#">Contact</a>
        <a class="p-2 text-dark" href="/">Logout</a>
      </nav>
    </div>

    <!-- display recent book reviews -->
    <div class="container-lg">
      <u><h4 id="display_book">Recent Book Reviews:</h4></u>
      <br />
      {% for book in last_3_books %}
      <h5><a href="/books/{{book.id}}">{{book.title}}</a></h5>
      <p>{{book.reviews.rating}}</p>
      <p>
        <strong>{{book.reviews.last.reviewed_by.first_name}}</strong> says:
        {{book.reviews.last.review}}
      </p>
      <p class="text-muted">{{book.created_at}}</p>
      <hr />
      {% endfor %}
    </div>
    <br />
    <!-- display other books -->
    <div class="container-lg">
      <u><h4>Other Books with Reviews:</h4></u>
      <br />
      {% for book in all_books %}
      <ul class="list-group-item">
        <a href="{% url 'DojoReads:my_book_review' book.id %}"
          ><li style="list-style: none">{{book.title}}</li></a
        >
      </ul>
      {% endfor %}
    </div>
    <br />
  </body>
</html>
